@media only screen and (max-width: 1216px){
    
    /*** content ***/
	    /*** left ***/
	    	.btn a {
			    width: 72%;
			}

}

@media only screen and (max-width: 1089px){
    
	/*** menu_left ***/
    	.menu_left {
		    padding: 16px 15px 0 15px;
		}
		.search img {
		    margin: 0 0 0 45%;
		}
	/*** content ***/
	    /*** left ***/
	    	.btn a {
			    width: 80%;
			}
			.text {
			    width: 87%;
			}
	/*** footer ***/
		footer ul li {
		    margin: 0 8px 0 0;
		}

}

@media only screen and (max-width: 959px){
	
	/*** menu_left ***/
		.menu_left {
		    width: 164px;
		}
	/*** content ***/
		.content{
			width: 79%;
		}
		.content_inner {
		    width: 95%;
		}
		/*** nav ***/
			nav ul li {
			    margin: 0 13px 0 0;
			}
		/*** left ***/
			.left{
				width: 100%;
				float: none;
			}
		/*** right ***/
			.right{
				display: none;
			}
	/*** footer ***/
		footer {
		    text-align: center;
		}
		footer ul li.last {
		    float: none;
		    width: 100%;
		    margin: 15px 0 0 0;
		}

}

@media only screen and (max-width: 799px){
	
	.main_content{
		overflow: hidden;
		position: relative;
	}
	.menu_left,
	.content{
	    -webkit-transition: all 0.3s ease;
	       -moz-transition: all 0.3s ease;
	        -ms-transition: all 0.3s ease;
	         -o-transition: all 0.3s ease;
	            transition: all 0.3s ease;
	}

	/*** menu_left ***/
		.menu_left {
		    position: fixed;
			top: 0;
			left: -164px;
			bottom: 0;
		}
	/*** content ***/
		.content{
			width: 100%;
			left: 0;
		}
		/*** header ***/
			header img{
				display: inline-block;
				vertical-align: middle;
				margin: 0 10px 0 0;
				cursor: pointer;
			}

}

@media only screen and (max-width: 639px){
    
    /*** nav ***/
    	nav {
		    font-size: 0.83em;
		}
		nav ul li {
		    margin: 0 2px 0 0;
		}
		nav ul li.last {
		    padding-left: 10px;
		}
	/*** content ***/
		/*** left ***/
			.title h1 {
			    font-size: 2em;
			}
			.btn a {
			    font-size: 1.3375em;
			}
	/*** footer ***/
		footer ul li.first{
			display: block;
			margin: 0 0 10px 0;
		}
		footer ul li img{
			display: inline-block;
		}

}

@media only screen and (max-width: 479px){
	
	/*** nav ***/
		nav {
		    text-align: center;
		}
		nav ul li {
		    padding: 5px 0;
		    margin: 0 6px !important;
		}
		nav ul li:hover:after,
		nav ul li.active:after{
			content: none;
		}
		nav ul li.last {
		    padding-left: 0;
		    float: none;
		    border: none;
		}
	/*** content ***/
		.content_inner {
		    width: 93%;
		}
		/*** header ***/
			header p {
			    display: block;
			}
		/*** left ***/
			.title h1 {
			    font-size: 1.7em;
			}
			.title i {
			    font-size: 1.2125em;
			}
			.btn a {
			    font-size: 0.9375em;
			    width: 90%;
			}
			.text {
			    width: 80%;
			}

}